////////////////////////////////////////////
// Custom
////////////////////////////////////////////
body {
    padding-top: $menu_height;
}


////////////////////////////////////////////
// Paginator
////////////////////////////////////////////
.pagebanner, .pagelinks {
    background: #eee;
    display: inline-block;
    margin: 0 0 $margin_x_small 0;
    padding: $padding_x_small;
}

.pagebanner {
    @include border_radius(4px 0 0 4px);   
}

.pagelinks {
    @include border_radius(0 4px 4px 0); 
    
    a {
        color: #333;
        font-size: $font-size - 0.4em;
        text-decoration: underline;
    }
}

////////////////////////////////////////////
// Task ID
////////////////////////////////////////////
.list {
    li::before {
        content: '#'attr(data-task-id);
        float: left;
        font-size: $font-size - 0.3em;
        line-height: $list_item_height;
        margin: 0 $margin_small;
        position: relative;
        pointer-events: none;
        vertical-align: middle;
    }
}