////////////////////////////////////////////
// Custom
////////////////////////////////////////////
body {
    padding-top: $menu_height;
}


////////////////////////////////////////////
// Task ID
////////////////////////////////////////////
.list {
    li::before {
        content: '#'attr(data-task-id);
        float: left;
        font-size: $font-size - 0.3em;
        line-height: $list_item_height;
        margin: 0 $margin_small;
        position: relative;
        pointer-events: none;
        vertical-align: middle;
    }
}