////////////////////////////////////////////
// Fonts
////////////////////////////////////////////


////////////////////////////////////////////
// Small - Default
////////////////////////////////////////////
html {
    font-size: 62.5%;
}

*, *::after, *::before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

a, p, label, button, input, select, textarea {
    font-size: $font_size;
}

.page_header {
    background: $page_header_bg_color;
    color: $page_header_color;
    padding: $padding_small;
    
    h1 {
        font-size: $font_size + 1em;
        margin: 0 auto;
        padding: 0 $padding_medium;
    }
}

.title {
    border-bottom: 1px solid $title_border_color;
    color: $title_color;
    font-size: $font_size + 0.7em;
    margin: 0 0 $margin_small 0;
    padding: 0 0 $padding_x_small 0;
    width: 100%;
    
    small {
        color: $title_sub_color;
        font-size: $font_size - 0.7em;
    }
}


////////////////////////////////////////////
// Fontello
////////////////////////////////////////////
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  //width: 1em;
  margin-right: .4em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 0;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0;
 
  /* you can be more comfortable with increased icons size */
  font-size: 150%;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */

  vertical-align: middle;
}

i[class^="icon-"], i[class*=" icon-"] {
    position: relative;
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    display: block;
    line-height: normal;
    margin: 0.6em 0.4em;
}

.table {
    i[class^="icon-"]:before, i[class*=" icon-"]:before {
        font-size: 100%;
    }
}

.icon-spin5:before { content: '\e806'; } /* '' */
.icon-left-open-big:before { content: '\e80c'; } /* '' */
.icon-cancel:before { content: '\e807'; } /* '' */
.icon-pencil-squared:before { content: '\e80d'; } /* '' */
.icon-list-bullet:before { content: '\e809'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-users:before { content: '\e80a'; } /* '' */
.icon-ok:before { content: '\e804'; } /* '' */
.icon-cancel-circled:before { content: '\e800'; } /* '' */
.icon-info-circled:before { content: '\e803'; } /* '' */
.icon-chat:before { content: '\e80b'; } /* '' */
.icon-trash-1:before { content: '\e808'; } /* '' */
.icon-block:before { content: '\e80e'; } /* '' */
.icon-down-open-mini:before { content: '\e801'; } /* '' */
.icon-menu:before { content: '\e805'; } /* '' */


////////////////////////////////////////////
// Tablet
////////////////////////////////////////////
@media (min-width: $medium_scr) {
    .page_header {
        h1 {
            width: $container_medium;
            
            .back {
                background: #fff;
                border: 0;
                display: inline-block;
                color: $main_color;
                float: left;
                font-size: 1em;
                font-weight: 700;
                height: $btn_height;
                margin-right: 0.4em;
                padding: 0;
                width: $btn_height;

                @include border_radius(50%);

                &:hover {
                    background: #ccc;
                }

                &::after {
                    content: '\e80c';
                    font-family: "fontello";
                    font-style: inherit;
                    font-weight: inherit;
                    speak: none;
                    display: inline-block;
                    text-decoration: inherit;
                    margin-right: 0;
                    text-align: center;
                    font-variant: normal;
                    text-transform: none;
                    font-size: 100%;
                    line-height: $btn_height;
                    width: 100%;
                    padding-right: 0.2em;
                }
            }
        }
    }
}


////////////////////////////////////////////
// Desktop
////////////////////////////////////////////
@media (min-width: $big_scr) {
    .page_header {
        h1 {
           width: $container_big; 
        }
    }
    
    .title {
        width: 60%;   
    }
    
    ////////////////////////////////////////////
    // Fontello
    ////////////////////////////////////////////
    i[class^="icon-"]:before, i[class*=" icon-"]:before {
        display: inline-block;
        margin: 0 0.4em;
    }
}


////////////////////////////////////////////
// Large Desktop
////////////////////////////////////////////
@media (min-width: $larger_scr) {
   .page_header {
        h1 {
           width: $container_larger; 
        }
    }
}