////////////////////////////////////////////
// Fonts
////////////////////////////////////////////


////////////////////////////////////////////
// Small - Default
////////////////////////////////////////////
html {
    font-size: 62.5%;
}

*, *::after, *::before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

a, p, label, button, input, select, textarea {
    font-size: $font_size;
}

.page_header {
    background: $page_header_bg_color;
    color: $page_header_color;
    padding: $padding_small;
    
    h1 {
        font-size: $font_size + 1em;
        margin: 0 auto;
        padding: 0 $padding_medium;
    }
}

.title {
    border-bottom: 1px solid $title_border_color;
    color: $title_color;
    font-size: $font_size + 0.7em;
    margin: 0 0 $margin_small 0;
    padding: 0 0 $padding_x_small 0;
    width: 100%;
    
    small {
        color: $title_sub_color;
        font-size: $font_size - 0.7em;
    }
}


////////////////////////////////////////////
// Fontello
////////////////////////////////////////////
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  //width: 1em;
  margin-right: .4em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 0;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0;
 
  /* you can be more comfortable with increased icons size */
  font-size: 150%;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */

  vertical-align: middle;
}

.icon-spin5:before { content: '\e806'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-menu:before { content: '\e805'; } /* '' */
.icon-cancel-circled:before { content: '\e800'; } /* '' */
.icon-info-circled:before { content: '\e803'; } /* '' */
.icon-down-open-mini:before { content: '\e801'; } /* '' */


////////////////////////////////////////////
// Tablet
////////////////////////////////////////////
@media (min-width: $medium_scr) {
    .page_header {
        h1 {
           width: $container_medium; 
        }
    }
}


////////////////////////////////////////////
// Desktop
////////////////////////////////////////////
@media (min-width: $big_scr) {
    .page_header {
        h1 {
           width: $container_big; 
        }
    }
    
    .title {
        width: 60%;   
    }
}


////////////////////////////////////////////
// Large Desktop
////////////////////////////////////////////
@media (min-width: $larger_scr) {
   .page_header {
        h1 {
           width: $container_larger; 
        }
    }
}