////////////////////////////////////////////
// Mixins
////////////////////////////////////////////

////////////////////////////////////////////
// Animation
////////////////////////////////////////////
@mixin animation($name, $duration, $timing_func, $delay, $it_count, $direction) {
    animation: $name $duration $timing_func $delay $it_count $direction;
    -webkit-animation: $name $duration $timing_func $delay $it_count $direction;
    -moz-animation: $name $duration $timing_func $delay $it_count $direction;
}


////////////////////////////////////////////
// Border Radius
////////////////////////////////////////////
@mixin border_box {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}


////////////////////////////////////////////
// Border Radius
////////////////////////////////////////////
@mixin border_radius($val: 4px) {
    border-radius: $val;
    -webkit-border-radius: $val;
    -moz-border-radius: $val;
    -ms-border-radius: $val;
    -o-border-radius: $val;
}


////////////////////////////////////////////
// Box Shadow
////////////////////////////////////////////
@mixin box_shadow($val) {
    box-shadow: $val;
    -webkit-box-shadow: $val;
    -moz-box-shadow: $val;
    -ms-box-shadow: $val;
    -o-box-shadow: $val;
}


////////////////////////////////////////////
// Clear Fix
////////////////////////////////////////////
@mixin clear_fix {
    &::after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }
}


////////////////////////////////////////////
// Linear Gradient
////////////////////////////////////////////
@mixin linear_gradient($dir, $dir_prefix, $color1, $color2) {
    background-image: linear-gradient($dir, $color1, $color2);
    background-image: -webkit-linear-gradient($dir_prefix, $color1, $color2);
    background-image: -moz-linear-gradient($dir_prefix, $color1, $color2);
    background-image: -ms-linear-gradient($dir_prefix, $color1, $color2);
    background-image: -o-linear-gradient($dir_prefix, $color1, $color2);
}


////////////////////////////////////////////
// Text Shadow
////////////////////////////////////////////
@mixin text_shadow($val) {
    text-shadow: $val;
    -webkit-text-shadow: $val;
    -moz-text-shadow: $val;
    -ms-text-shadow: $val;
    -o-text-shadow: $val;
}

////////////////////////////////////////////
// Transition
////////////////////////////////////////////
@mixin transition($el, $webkit-el, $attr) {
    transition: $el $attr;
    -webkit-transition: $webkit-el $attr;
    -moz-transition: $el $attr;
}

////////////////////////////////////////////
// Transform
////////////////////////////////////////////
@mixin transform($val) {
    transform: $val;
    -webkit-transform: $val;
    -moz-transform: $val;
}