////////////////////////////////////////////
// Variables
////////////////////////////////////////////

////////////////////////////////////////////
// Font
////////////////////////////////////////////
$font_size: 1.4em;


////////////////////////////////////////////
// Heights
////////////////////////////////////////////
$btn_height: 34px;
$dropdown_line_height: 24px;
$input_height: $btn_height + 2px;
$menu_height: 64px;
$table_header_height: $btn_height + 2px;
$fieldset_legend_height: 34px;


////////////////////////////////////////////
// Screen Size
////////////////////////////////////////////
$medium_scr:     768px;
$big_scr:        992px;
$larger_scr:     1200px;


////////////////////////////////////////////
// Padding
////////////////////////////////////////////
$padding_x_small: 5px;
$padding_small:  10px;
$padding_medium: 15px;
$padding_big:    20px;
$padding_larger: 25px;


////////////////////////////////////////////
// Margin
////////////////////////////////////////////
$margin_x_small: 5px;
$margin_small:  10px;
$margin_medium: 15px;
$margin_big:    20px;
$margin_larger: 25px;


////////////////////////////////////////////
// Container Max-size
////////////////////////////////////////////
//$container_small: ;
$container_medium: 750px;
$container_big:  970px;
$container_larger:  1170px;