////////////////////////////////////////////
// Form
////////////////////////////////////////////

////////////////////////////////////////////
// Small - Default
////////////////////////////////////////////
input[type="text"], input[type="password"], textarea, select {
    border: 1px solid $input_border_color;
    outline: none;
    margin: 0 0 $margin_small 0;
    width: 100%;
    
    @include border_radius;
}

input[type="text"], input[type="password"], textarea {
    padding: $padding_small;
    
    @include box_shadow(inset 0 2px 6px rgba(0,0,0,0.25));
    
    &:focus {
        background: $input_focus_bg_color;
        border-color: $input_focus_border_color;
    }
    
    &.error {
        background: $input_error_bg_color;
        border-color: $input_error_border_color;
        
        &:focus {
            border-color: $input_error_focus_border_color;
        }
    }
}

input[type="text"], input[type="password"], select {
    height: $input_height;
}

select {
    padding: $select_vert_padding $padding_x_small;
    
    @include linear-gradient(to bottom, top, $select_gradient_color_1, $select_gradient_color_2);
    
    &:focus {
        border-color: $select_focus_border_color;
    }
    
    &:hover {
        @include linear-gradient(to bottom, top, $select_gradient_color_1, $select_hover_gradient_color_2);   
    }
}

textarea {
    min-height: 120px;
    resize: none;
}


////////////////////////////////////////////
// Tablet
////////////////////////////////////////////
@media (min-width: $medium_scr) {
    
}


////////////////////////////////////////////
// Desktop
////////////////////////////////////////////
@media (min-width: $big_scr) {
}


////////////////////////////////////////////
// Large Desktop
////////////////////////////////////////////
@media (min-width: $larger_scr) {
   
}