////////////////////////////////////////////
// Modal
////////////////////////////////////////////


////////////////////////////////////////////
// Small - Default
////////////////////////////////////////////
.modal {
    background: $modal_bg_color;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999999999;
    
    @include transition(opacity, opacity, 0.5s ease-in-out);
    
    &.visible {
        opacity: 1;
    }
    
    .modal_container {
        margin: 0 auto $margin_big*5;
        opacity: 0;
        overflow: hidden;
        position: relative;
        top: (-$modal_container_initial_position);
        width: 100%;
        
        @include border_radius;
        @include box_shadow(0 2px 6px rgba(0,0,0,0.6));
        @include clear_fix;
        @include transition(transform, -webkit-transform, 0.5s ease-in-out, opacity 0.5s ease-in-out);
                
        &.visible {
            opacity: 1;
                    
            @include transform(translate3d(0, $modal_container_final_position,0));            
        }
        
        & > p {
            background: $modal_container_header_bg_color;
            color: $modal_container_header_color;
            font-size: $font_size + 1.0em;
            line-height: $menu_height;
            padding: 0 $padding_medium;
        }
        
        .modal_content {
            background: $modal_container_bg_color;
            padding: $padding_big $padding_medium;   
        }
        
        .modal_footer {
            background: $modal_container_bg_color;
            border-top: 1px solid $modal_footer_border_color;
                    
            @include clear_fix;
        }
        
        .modal_btn {
            background: none;
            border: 0;
            color: $modal_btn_color;
            float: left;
            font-size: $font_size + 0.6em;
            height: $menu_height;
            margin: 0;
            outline: none;
            padding: 0 $padding_medium;
            position: absolute;
            right: 0;
            text-align: center;
            top: 0;
            
            &::after, &::before {
                margin: 0;
            }
            
            &:hover {
                background: $modal_btn_hover_bg_color;
            }
        }
    }
}

////////////////////////////////////////////
// Tablet
////////////////////////////////////////////
@media (min-width: $medium_scr) {
    
}


////////////////////////////////////////////
// Desktop
////////////////////////////////////////////
@media (min-width: $big_scr) {
    .modal {
        .modal_container {
            width: $modal_width;
            
            &.modal_container_big {
                width: $modal_big_width;   
            }
        }
    }
}


////////////////////////////////////////////
// Large Desktop
////////////////////////////////////////////
@media (min-width: $larger_scr) {
   
}