////////////////////////////////////////////
// Tooltip
////////////////////////////////////////////

////////////////////////////////////////////
// Small - Default
////////////////////////////////////////////
.tooltip {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    
    @include transition(transform, -webkit-transform, 0.5s ease-in-out, opacity 0.5s ease-in-out);
    
    &.visible {
        opacity: 1;
    }
    
    i {
        border: 8px solid transparent;
        border-bottom: 8px solid $tooltip_bg_color;
        display: block;
        height: 0;
        margin: 0 auto;
        width: 0;
    }
    
    p {
        background: #000;
        background: $tooltip_bg_color;
        color: $tooltip_color;
        padding: $padding_x_small $padding_small;
        text-align: center;
        
        @include border-radius;
    }
}

////////////////////////////////////////////
// Tablet
////////////////////////////////////////////
@media (min-width: $medium_scr) {
    
}


////////////////////////////////////////////
// Desktop
////////////////////////////////////////////
@media (min-width: $big_scr) {
    
}


////////////////////////////////////////////
// Large Desktop
////////////////////////////////////////////
@media (min-width: $larger_scr) {
   
}